version: '3.8'

services:
  app:
    image: myapp:latest
    ports:
      - "8080:80"
    environment:
      - APP_ENV=production
    volumes:
      - ./app_data:/var/www/html
    depends_on:
      - db
